<!DOCTYPE html>
<html>
  <head>
    <title>PhysiofitPro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header> 
      <div class="logo">PhysioFit Pro</div> 
      <nav> <a href="/login" class="signin-link">Sign in</a> </nav> 
    </header>

    <%= yield %>
    
    <footer> 
      <p>&copy; 2024 <a href="/">PhysioFit Pro</a>. All Rights Reserved.</p> 
    </footer> 
  </body>
</html>
